#### Top 100 Most Valuable Players of English Premier League 2023/2024 Project

In [1]:
#Importing required libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

In [2]:
#Establishing connection with the url
headers = {'User-Agent': 
           'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.106 Safari/537.36'}

page = "https://www.transfermarkt.co.uk/premier-league/marktwerte/wettbewerb/GB1/pos//detailpos/0/altersklasse/alle/plus/1"
pageTree = requests.get(page, headers=headers)
pageSoup = BeautifulSoup(pageTree.content, 'html.parser')

In [3]:
#Scraping required information from all pages 
num = 1
PlayersList = []
ImageList = []
NationList = []
AgeList = []
ClubList = []
ValuesList = []
Cleaned_Values=[]
while num != 5:
      page = f"https://www.transfermarkt.co.uk/premier-league/marktwerte/wettbewerb/GB1/pos//detailpos/0/altersklasse/alle/plus/1/page/{num}"
      pageTree = requests.get(page, headers=headers)
      pageSoup = BeautifulSoup(pageTree.content, 'html.parser')
      Players = pageSoup.find_all("img", {"class": "bilderrahmen-fixed lazy lazy"})
      for i in range(0, len(Players)):
            PlayersList.append(str(Players [i]).split('" class',1) [0].split('<img alt="',1) [1])
      for i in range(0, len(Players)):
            ImageList.append(str(Players [i]).split('" src',1) [0].split(' data-src="',1) [1])
      Nationality = pageSoup.find_all("td", {"class": "zentriert"})
      for i in range(1, (len(Players)*5),5):
            NationList.append(str (Nationality [i]).split('title="',1) [1].split('"/',1)[0])
      Age = pageSoup. find_all("td", {"class": "zentriert"})
      for i in range(2, (len (Players)*5),5):
            AgeList.append(int(str(Age[i]).split("(",1) [0].split('">',1)[1].split('</',1)[0]))
      for i in range(3, (len (Players)*5),5):
             ClubList.append(str(Age[i]).split('<img alt="',1) [1].split('" class=',1) [0])
      Values = pageSoup.find_all("td", {"class": "rechts hauptlink"})
      for i in range(0, len(Values)):
            ValuesList.append (Values [i].text.split("(",1) [0])      
      num = num + 1
      Players = []
      Nationality = []
      Age = []
      Values = []
#Cleaning the Market Value
for a in range(len(ValuesList)):
        if 'm' in ValuesList[a]:
                Cleaned_Values.append(float(ValuesList[a].split('m\xa0')[0].split('€')[1])*1000000)
        elif 'Th.' in ValuesList [a]:
                Cleaned_Values.append(float(ValuesList[a].split('Th.\xa0')[0].split('€')[1])*1000)
        else:
               Cleaned_Values.append(float(a))

In [4]:
#Creating a DataFrame
df = pd.DataFrame({"Players":PlayersList,
                   "Image":ImageList,
                   "Nationality":NationList,
                   "Age":AgeList,
                   "Club":ClubList,
                   "Market_Value":Cleaned_Values})

In [5]:
df

,Players,Image,Nationality,Age,Club,Market_Value
0,Erling Haaland,https://img.a.transfermarkt.technology/portrai...,Norway,22,Manchester City,180000000.0
1,Bukayo Saka,https://img.a.transfermarkt.technology/portrai...,England,21,Arsenal FC,120000000.0
2,Phil Foden,https://img.a.transfermarkt.technology/portrai...,England,23,Manchester City,110000000.0
3,Rodri,https://img.a.transfermarkt.technology/portrai...,Spain,27,Manchester City,90000000.0
4,Declan Rice,https://img.a.transfermarkt.technology/portrai...,England,24,Arsenal FC,90000000.0
...,...,...,...,...,...,...
95,Cheick Doucouré,https://img.a.transfermarkt.technology/portrai...,Mali,23,Crystal Palace,35000000.0
96,Marc Guéhi,https://img.a.transfermarkt.technology/portrai...,England,23,Crystal Palace,35000000.0
97,Alisson,https://img.a.transfermarkt.technology/portrai...,Brazil,30,Liverpool FC,35000000.0
98,Ivan Toney,https://img.a.transfermarkt.technology/portrai...,England,27,Brentford FC,35000000.0
99,Nayef Aguerd,https://img.a.transfermarkt.technology/portrai...,Morocco,27,West Ham United,35000000.0

In [6]:
#Exporting DataFrame to Excel File
df.to_excel('/Users/olufeyijimiayinde/Downloads/player_data.xlsx',index=False)